---

---

<header class="bg-slate-400 text-white p-4">
  <h1 class="text-3xl font-bold">UNAS Examenes</h1>
  <p class="text-lg">Aquí puedes encontrar todos los exámenes</p>

  <nav class="flex flex-col md:flex-row gap-4 mt-2 justify-end text-lg">
    <a href="./" class="hover:underline">Inicio</a>
    <a href="./exams" class="hover:underline">Exámenes</a>
    <a href="./courses" class="hover:underline">Cursos</a>
    <a href="./temario" class="hover:underline">Temario</a>
  </nav>
</header>
