---
import Flooter from "@/components/Flooter.astro";
import Hero from "@/components/Hero.astro";
import "@/styles/global.css";

const title = "UNAS Examenes";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>

  <body class="w-full min-h-screen bg-slate-100 text-slate-900 font-sans">
    <Hero />
    <div class="bg-slate-400 text-white p-10 mt-10">
      <slot />
    </div>
    <Flooter />
  </body>
</html>
